@media print,
(max-width: 1487px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 35px;
    }


    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        bottom: 40px;

        margin-left: 105px;
    }


    .swiper-pagination-bullet + .swiper-pagination-bullet
    {
        margin-left: 25px !important;
    }


    .swiper-button-prev
    {
        left: 0;
    }

    .swiper-button-next
    {
        right: 0;
    }


    .block.big_m
    {
        margin-bottom: 100px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 40px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 25px 0 30px;
    }


    header .logo
    {
        width: 110px;
        height: 118px;
    }


    header .col
    {
        width: calc(50% - 105px);
    }


    header .map_link
    {
        margin-left: 25px;
    }


    header .phone
    {
        font-size: 17px;
    }


    header .callback_btn
    {
        margin-left: 25px;
    }


    header .socials a + a
    {
        margin-left: 20px;
    }


    header .menu
    {
        margin-top: 30px;
    }


    header .menu_item + .menu_item
    {
        margin-left: 60px;
    }


    header .menu_item > a
    {
        font-size: 22px;
        line-height: 30px;

        height: 60px;
    }


    header .menu .sub_menu
    {
        padding: 40px 0;
    }


    header .menu .sub_menu .row
    {
        margin-left: -50px;
    }


    header .menu .sub_menu .row > *
    {
        width: calc(25% - 50px);
        margin-left: 50px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_desc
    {
        font-size: 20px;
        line-height: 30px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 50px;
    }


    .block_head .desc
    {
        font-size: 20px;
        line-height: 30px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: 25px;
    }


    .text_block h2
    {
        font-size: 28px;
        line-height: 36px;
    }


    .text_block .cols .col
    {
        width: calc(50% - 25px);
    }


    .text_block .columns
    {
        column-gap: 50px;
    }


    .text_block .image_block .image,
    .text_block .image_block > div
    {
        width: calc(50% - 25px);
    }


    .text_block .image_block .image.bg_left
    {
        padding-bottom: 40px;
        padding-left: 48px;
    }


    .text_block .image_block .image.bg_left:before
    {
        left: 0;

        width: calc(100% - 68px);
        height: calc(100% - 36px);
    }


    .text_block blockquote,
    .text_block q
    {
        font-size: 18px;
        line-height: 26px;

        margin: 50px 0 50px 60px;
        padding-left: 40px;
    }



    .content_contacts
    {
        margin-top: 60px;
        margin-bottom: 50px;
    }


    .text_block .service_steps,
    .text_block .service_advantages
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .submit_btn.fill
    {
        padding: 15px 28px 11px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 500px;
        padding-top: 60px;
        padding-bottom: 100px;
    }


    .main_slider .data
    {
        width: calc(50% - 105px);
    }


    .main_slider .desc
    {
        line-height: 25px;

        width: 355px;
        margin-top: 20px;
    }


    .main_slider .btn
    {
        margin-top: 40px;
    }



    /*-----------
        Media
    -----------*/
    .media .data
    {
        width: calc(100% - 600px);
        padding-top: 70px;
        padding-left: 100px;
    }


    .media .video
    {
        width: 550px;
    }



    /*------------
        Stats
    ------------*/
    .stats .block_head
    {
        padding-bottom: 30px;
    }


    .stats .row
    {
        margin-bottom: -50px;
    }

    .stats .row > *
    {
        margin-bottom: 50px;
    }


    .stats .item
    {
        padding-bottom: 50px;
    }



    /*-----------
        Steps
    -----------*/
    .steps
    {
        padding: 80px 0 130px;
    }


    .steps .swiper
    {
        padding: 0 64px;
    }



    /*----------------
        Boss quote
    ----------------*/
    .boss_quote
    {
        padding-top: 200px;
    }


    .boss_quote .data
    {
        width: 675px;
        padding: 70px 80px 70px 90px;
    }


    .boss_quote .data .quote
    {
        font-size: 18px;
        line-height: 28px;
    }


    .boss_quote .data .quote:before
    {
        left: -55px;
    }

    .boss_quote .data .quote:after
    {
        right: -55px;
    }


    .boss_quote .photo
    {
        bottom: 30px;

        margin-left: 100px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .swiper
    {
        padding: 0 64px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper
    {
        padding: 0 64px;
    }


    .articles .article .name
    {
        font-size: 17px;
        line-height: 25px;
    }



    /*-----------------
        Get consult
    -----------------*/
    .get_consult .data
    {
        width: 850px;
        padding: 47px;
    }



    /*-------------
        Persons
    -------------*/
    .persons .person
    {
        margin-top: 70px;
    }

    .persons .person + .person
    {
        margin-top: 170px;
    }


    .persons .person .name
    {
        font-size: 28px;
        line-height: 36px;
    }


    .persons .person .contacts
    {
        line-height: 25px;

        margin-top: 30px;
        padding-top: 30px;
    }



    /*-------------
        Ratings
    -------------*/
    .ratings .swiper
    {
        padding: 0 64px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding: 80px 0;
    }


    .advantages .item
    {
        padding: 24px 20px;
    }


    .advantages .item br
    {
        display: none;
    }



    /*-----------------
        Person info
    -----------------*/
    .person_info
    {
        margin-top: 60px;
        padding-top: 60px;
    }


    .person_info .data
    {
        width: 400px;
    }


    .person_info .contacts
    {
        line-height: 25px;

        margin-top: 30px;
        padding-top: 30px;
    }

    .person_info .contacts:before
    {
        width: 680px;
    }


    .person_info .photo
    {
        width: 400px;
    }


    .person_info .desc
    {
        width: 400px;
    }



    /*------------
        Certs.
    ------------*/
    .certs .swiper
    {
        padding: 0 64px;
    }



    /*------------
        Videos
    ------------*/
    .videos .swiper
    {
        padding: 0 64px;
    }



    /*-----------------
        Specialists
    -----------------*/
    .specialists .swiper
    {
        padding: 0 64px;
    }


    .specialists .person
    {
        margin-top: 160px;
        padding: 28px;
    }


    .specialists .person .name
    {
        font-size: 20px;
        line-height: 26px;
    }


    .specialists .person .contacts
    {
        line-height: 25px;

        margin-top: 30px;
        padding-top: 30px;
    }



    /*--------------
        Branches
    --------------*/
    .branches .tabs
    {
        margin-left: -24px;
    }


    .branches .tabs .btn
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .branches .tabs .name
    {
        font-size: 17px;
        line-height: 20px;

        margin-bottom: 16px;
    }


    .branches .tabs .contacts
    {
        line-height: 25px;

        padding: 20px;
    }


    .branches .map
    {
        height: 520px;
    }



    /*------------------
        Free consult
    ------------------*/
    .free_consult .data
    {
        padding: 40px;
    }


    .free_consult .online
    {
        width: 140px;
        height: 60px;
    }


    .free_consult .info
    {
        width: 680px;
    }


    .free_consult .title
    {
        font-size: 30px;
    }


    .free_consult .title small
    {
        font-size: 24px;
    }


    .free_consult .features .item .name span
    {
        font-size: 20px;
    }


    .free_consult .form .submit
    {
        padding: 0;
    }


    .free_consult .img1
    {
        width: calc(100% - 780px);
    }


    .free_consult .img2
    {
        bottom: -48px;
        left: 0;

        width: 520px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .free_consult
    {
        margin-bottom: 60px;
    }


    .service_info .content
    {
        width: calc(100% - 360px);
    }


    .service_info aside
    {
        gap: 24px;
    }


    .service_info .services .title
    {
        font-size: 22px;

        margin-bottom: 12px;
    }



    .service_info .callback_form .title
    {
        font-size: 22px;
    }


    .service_info .callback_form .desc
    {
        font-size: 14px;

        margin-bottom: 12px;
    }


    .service_info .callback_form .form
    {
        padding: 18px 26px 26px;
    }


    .service_info .callback_form .form .input
    {
        height: 44px;
        padding: 2px 15px 0;
    }



    /*----------------------
        Content contacts
    ----------------------*/
    .content_contacts .label
    {
        font-size: 15px;

        margin-left: 40px;
    }


    .content_contacts .phone
    {
        font-size: 24px;

        margin-left: 40px;
    }


    .content_contacts .img
    {
        right: -20px;
        bottom: -10px;

        width: 220px;
    }



    /*-------------------
        Service steps
    -------------------*/
    .service_steps
    {
        padding: 40px 24px;
    }


    .service_steps .block_title
    {
        font-size: 28px;

        margin-bottom: 12px;
    }


    .service_steps .block_desc
    {
        font-size: 18px;

        margin-bottom: 24px;
    }


    .service_steps .item .number
    {
        font-size: 24px;

        margin-bottom: 12px;
    }



    /*------------------------
        Service advantages
    ------------------------*/
    .service_advantages
    {
        padding: 40px 24px;
    }


    .service_advantages .block_title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }


    .service_advantages .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .service_advantages .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .service_advantages .item .number
    {
        font-size: 24px;

        margin-bottom: 12px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .info
    {
        font-size: 16px;

        width: calc(100% - 332px);
        padding: 32px;
    }


    .action_block .title
    {
        font-size: 26px;
    }


    .action_block .phone a
    {
        font-size: 24px;
    }


    .action_block .btn
    {
        margin-top: 12px;
        padding-top: 3px;
    }



    /*-----------------
        Action form
    -----------------*/
    .content .action_form
    {
        margin-top: 60px;
    }


    .action_form
    {
        min-height: 512px;
    }


    .action_form .data
    {
        width: calc(100% - 332px);
        padding: 32px 0 32px 32px;
    }


    .action_form .title
    {
        font-size: 26px;
    }


    .action_form .desc
    {
        font-size: 16px;

        margin-top: 12px;
    }


    .action_form .form .columns
    {
        --form_columns_offset: 20px;
    }


    .action_form .person
    {
        top: -13px;

        width: 308px;
    }


    .action_form .person .name
    {
        margin-top: 20px;
    }


    .action_form .person .name,
    .action_form .person .post
    {
        padding-right: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 60px 0;
    }


    footer .col_left
    {
        width: 195px;
    }


    footer .col_center
    {
        width: 590px;
    }


    footer .col_right
    {
        width: 325px;
    }


    footer .title
    {
        font-size: 28px;
        line-height: 34px;
    }


    footer .callback_btn
    {
        margin-left: 25px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        width: 750px;
        padding: 50px;
    }


    .modal .form
    {
        width: 500px;
    }



    #map_modal .map
    {
        height: 520px;
    }
}
